/* Estilos para o contêiner principal do minigame */
.minigame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.minigame-wrapper {
    background-color: white;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para cada tecla exibida */
.key-display {
    display: inline-block;

    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 10px;

    border: 2px solid #ddd; /* Cor da borda para teclas não pressionadas */
    border-radius: 10px;
    font-size: 24px;
    text-align: center;

    line-height: 60px; /* Ajuste para centralizar verticalmente o texto */
    background-color: #e0e0e0;;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3 ease;
}

/* Estilos para a tecla a ser pressionada*/
.key-display.active {
    background-color: white;
    border-color: orange;
}

/* estilos para a tecla quando está correta */
.key-display.correct {
    background-color: #7cff7c;
    color: white;
    border-color: transparent;
}

/* Estilos oara a tecla quando está incorreta */
.key-display.wrong {
    background-color: #ff6666; /* Vermelho claro quando errado */
    color: white;
    border-color: transparent;
}

/* Estilo para o timer*/
.timer {
    text-align: center;
    margin-top: 20px;
    color: red;
}

/* Estilos para o botão novo jogo */
/* .new-game-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #Acaf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */


/* .new-game-button:hover{
    background-color: #45a049; Verde escuro ao passar o mouse
} */

/* Estilo para a mensagem de Game Over ou Sucesso*/
/* .game-message {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: white;
} */

/* Estilos para o ranking
.high-scores {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.high-scores h2 {
    font-size: 20px;
}

.high-scores ul {
    list-style-type: none;
    padding: 0;
}

.high-scores li {
    font-size: 18px;
    margin-bottom: 5px;
} */