

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  display: block; /* Torna o botão um elemento de bloco */
  margin: 20px auto; /* Margem superior de 20px e margens laterais automáticas */
  padding: 10px 20px;
  font-size: 18px;
  background-color: #acaf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;  
}

button:hover{
  background-color: #45a049; /* Verde escuro ao passar o mouse */
}

/* Estilos para o ranking */
.high-scores {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.high-scores h2 {
  font-size: 20px;
}

.high-scores ul {
  list-style-type: none;
  padding: 0;
}

.high-scores li {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Estilo para a mensagem de Game Over ou Sucesso*/
.game-message {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.game-message-end {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  color: red;
}